.home-body {
  font-family: "Times New Roman", Times, serif;
  background-image: url(/images/whiteWall.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.head {
  background-color: rgba(145, 145, 145, 0.355);
  position: absolute;
  top: 0;
  backdrop-filter: blur(3px);
  width: 100%;
}

#main-head {
  color: white;
  text-align: center;
}

.home-tabs {
  height: 55px;
  width: 100%;
  background-color: rgba(87, 87, 87, 0.84);
  margin-top: 80px;
}

nav ul li {
  display: inline-block;
  margin-top: 0px;
  margin-left: 5%;
  margin-right: 5%;
  text-transform: uppercase;
}

nav ul li a {
  text-decoration: none;
  margin-top: -5%;
}

.placeholder {
  height: 225px;
  width: 80%;
  margin-left: 10%;
  margin-top: 1%;
  border-radius: 5px;
  background-color: none;
  display: table;
}

#remark-home {
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  font-size: 40px;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
  background-color: rgba(128, 128, 128, 0.308);
  backdrop-filter: blur(10px);
  border-radius: 5px;
  color: white;
}

#blog-desc {
  padding-left: 20px;
  padding-top: 20px;
}

.button-home {
  height: 175px;
  width: 175px;
  margin-right: 5%;
  margin-left: 4%;
  margin-top: -10px;
  border-radius: 10px;
  border: none;
}

.button-head {
  font-size: 20px;
  margin: -2px;
}

.icons {
  height: 350x;
  width: 30px;
  float: left;
  margin-top: -35px;
  margin-left: -30px;
  background-color: white;
  padding: 5%;
  border-radius: 5px;
  border: none;
}

#essay-icon {
  margin-top: -40px;
}

#design-icon {
  margin-top: -40px;
}

#blog-home {
  color: beige;
}

#design-home {
  color: beige;
}

#portfolio-home {
  color: beige;
}

#essay-home {
  color: beige;
}

a.active {
  background-color: black;
  color: beige;
  padding: 10px 30px;
  border-radius: 25px;
}

.page-body {
  font-family: "Times New Roman", Times, serif;
  background-image: url(images/paperTexture.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  text-align: center;
  font-weight: bold;
  color: beige;
}

.desc {
  text-align: center;
  font-style: italic;
  color: beige;
}

.head-page {
  background-color: rgba(9, 9, 9, 0.432);
  margin-top: -22px;
  height: 80px;
  backdrop-filter: blur(2px);
}

#home {
  color: beige;
  text-decoration: none;
}

#blog-home {
  text-decoration: none;
}

#design-home {
  text-decoration: none;
}

#portfolio-home {
  text-decoration: none;
}

#essay-home {
  text-decoration: none;
}

header ul li {
  display: inline-block;
  margin-top: 17px;
  margin-left: 5%;
  margin-right: 7%;
  text-transform: uppercase;
  text-decoration: none;
}

.blog-tabs {
  background-color: rgba(9, 9, 9, 0.432);
  height: 50px;
  margin-top: -15px;
}

.blog-img {
  height: 120px;
  width: 120px;
  background-color: rgba(36, 36, 36, 0.099);
  padding: 5px;
  border-radius: 5px;
  margin-bottom: -11%;
  margin-top: 3.5%;
  margin-left: 4%;
}

.date {
  margin-left: 30%;
  margin-top: -10%;
  margin-bottom: 5%;
  text-transform: uppercase;
  font-style: italic;
  font-size: 10px;
  color: rgb(36, 36, 36);
}

a.blog-head {
  margin-left: 30%;
  margin-top: 50px;
  font-size: 15px;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.blog-info {
  margin-left: 30%;
  margin-top: 4%;
  margin-right: 7%;
  text-align: justify;
  font-style: italic;
  font-size: 10px;
  color: rgb(36, 36, 36);
}
.blog-posts {
  background-color: rgba(180, 180, 180, 0.252);
  /*border-style: solid;*/
  border: solid 2px rgba(128, 128, 128, 0.368);
  border-radius: 8px;
  height: 175px;
  width: 50%;
  margin-top: 35px;
  margin-left: 25%;
  margin-bottom: 2%;
}

#portfolio-desc {
  margin-top: -5px;
  text-overflow: clip;
}

.port-tabs {
  background-color: rgba(9, 9, 9, 0.432);
  height: 50px;
  margin-top: -6px;
}

#blog-seven {
  margin-right: 14%;
}

.title-blog {
  text-align: center;
  color: beige;
  padding-top: 1.5%;
}

.section-one {
  font-style: italic;
  font-weight: lighter;
  margin-left: 12px;
  margin-top: 3%;
  font-size: 28px;
}

.sub-head {
  font-style: italic;
  font-weight: bold;
  margin-left: 12px;
  margin-top: 1%;
  margin-bottom: -2%;
  padding-bottom: 1%;
  font-size: 32px;
}

.line {
  height: 5px;
  width: 100%;
  background-color: rgb(163, 163, 163);
  margin-top: -15px;
  margin-bottom: 2%;
}

.par-one {
  margin-left: 50px;
  margin-right: 50px;
  padding-bottom: 5px;
}

#design-state {
  font-weight: bold;
}

#wire-head {
  margin-bottom: 1%;
}

.wire-img {
  height: 300px;
  width: 400x;
  margin-left: 80px;
}

.annote {
  margin-top: -0.25%;
  margin-left: 80px;
}
